input::placeholder {
  font-size: 12px;
}

/* For WebKit-based browsers (Chrome, Safari, Edge, Opera) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Important to remove any default margin added by the browser */
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
